.social-content {
    list-style:none;
    margin:0;
    padding:0;
}

.member-content {
    margin-bottom:30px;
}

.tag {
    padding-top:50px;
}

.details {
    margin:25px;
    padding:25px;
    border-radius: 10px;
    border: black solid 1px;
}

.progress-box {
    margin:25px;
    border-radius: 10px;
}

.progress-box li {
    list-style:none;
}

#people {
    text-align: center;
}
