.cafe-description {
    margin-top:25px;
}
.social-content {
    list-style:none;
    margin:0;
    padding:0;
}

.member-content {
    margin-bottom:30px;
}

.tag {
    padding-top:50px;
}

.progress-title {
    height: 2em;
}

.progress-details {
}

.details {
    margin:25px;
    padding:25px;
    border-radius: 10px;
    border: black solid 1px;
}

.bar-section {
    height: 12em;
}

.bar-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.bar-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


#people {
    text-align: center;
}

footer {
    height: 100px;
    bottom: 0;
    position: absolute;
}

#wrapper {
    position: relative;
    min-height: 100%;

}

#content {
    padding-bottom: 150px;

}
