{% extends "base.html" %}
{% block body %}
<div id="people" class="container tag">
    <div class="row member-content">
        <div class="col-sm-3 col-sm-offset-1">
            <img class="img-center img-thumbnail" src="images/mathias.jpg">
            <h4>Mathias Brochhausen, Ph.D.</h4>
            <p class="title">Assistant Professor of the Division of Biomedical Informatics at UAMS</p>
        </div>
        <div class="col-sm-7">
            <div class="details">
                <p>Mathias Brochhausen is Assistant Professor at the Department of Biomedical Informatics, University of Arkansas for Medical Sciences, Little Rock. His research centers on biomedical ontologies and their implementation in medical knowledge management systems. Dr. Brochhausen holds a Masters and PhD in Philosophy from the Johannes Gutenberg University Mainz, Germany. He has ten years of experience in semantic integration of biomedical data during which he developed and co-developed multiple ontologies coded in Web Ontology Language such as the ACGT Master Ontology, Ontology for Biobanking, the Drug Ontology, and the Ontology of Document Acts. Dr. Brochhausen is the PI of the NIH-funded project "Comparative Assessment Framework for Environments of Trauma Care" (CAFE) (1 R01 GM111324 01A1).</p>
                <ul class="social-content">
                    <li><a href="mailto:MBrochhausen@uams.edu"><span class="glyphicon glyphicon-envelope"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row member-content">
        <div class="col-sm-2 col-sm-offset-1">
            <h4>Joseph Utecht</h4>
            <p class="title">Lead Developer</p>
        </div>
    </div>
</div>
{% endblock %}
